services:

  server:
    image: admwscki/keyboard-tools-server:${TAG:-latest}
    build:
      context: .
      dockerfile: docker/server.Dockerfile
    develop:
      watch:
        - path: ./cmd/server
          include: "*.go"
          action: rebuild
        - path: ./internal
          include: "**/*.go"
          action: rebuild
    environment:
      - REDIS_ADDR=redis:6379
      - REDIS_PASSWORD=
      - REDIS_DB=0
      - FILER_URL=http://s3:8888
    ports:
      - 8080:8080
    depends_on:
      - redis
      - s3

  worker:
    image: admwscki/keyboard-tools-kicad:${TAG:-latest}
    build:
      context: .
      dockerfile: docker/worker.Dockerfile
    develop:
      watch:
        - path: ./cmd/worker
          include: "*.go"
          action: rebuild
        - path: ./internal
          include: "**/*.go"
          action: rebuild
    environment:
      - REDIS_ADDR=redis:6379
      - REDIS_PASSWORD=
      - REDIS_DB=0
      - WORKER_CONCURRENCY=10
      - QUEUE_NAME=kicad
      - FILER_URL=http://s3:8888
    depends_on:
      - redis
      - s3

  redis:
    image: redis:6-alpine
    ports:
      - 6379:6379

  s3:
    image: chrislusf/seaweedfs:4.02
    volumes:
      - s3_data:/data
    ports:
      - 9333:9333
      - 8081:8080
      - 8888:8888
    command: server -dir=/data -filer -filer.port=8888 -master.peers=none

  asynqmon:
    image: hibiken/asynqmon:latest
    ports:
      - 8082:8082
    environment:
      - PORT=8082
      - REDIS_ADDR=redis:6379
      - REDIS_PASSWORD=
      - REDIS_DB=0
    profiles:
      - monitor

volumes:
  s3_data:
