version: 2.1


jobs:
  build-test-deploy:
    machine:
      image: ubuntu-2404:2024.05.1
    resource_class: large
    steps:
      - checkout
      - run:
          name: Set environment variables
          environment:
            GIT_TAG: << pipeline.git.tag >>
          command: |
            if [ -z "$GIT_TAG" ]; then
              # Not a tag - use dev with short hash
              echo "export SERVER_VERSION=dev-$(git rev-parse --short HEAD)" >> $BASH_ENV
            else
              # Tag build, cut 'v' prefix (only v prefixed tags should trigger this job)
              echo "export SERVER_VERSION=$(echo $GIT_TAG | cut -c 2-)" >> $BASH_ENV
            fi
            echo "export TAG=circleci" >> $BASH_ENV
            echo "export DOMAIN=localhost" >> $BASH_ENV
            source $BASH_ENV
            echo "Building with envs: $(cat $BASH_ENV)"
      - run:
          name: Build server docker image
          working_directory: backend
          command: |
            export SERVER_IMAGE=admwscki/keyboard-tools-server:circleci
            docker build --build-arg VERSION=${SERVER_VERSION} -t ${SERVER_IMAGE} -f docker/server.Dockerfile .
      - run:
          name: Build worker docker image
          working_directory: backend
          command: |
            export WORKER_IMAGE=admwscki/keyboard-tools-kicad:circleci
            docker build -t ${WORKER_IMAGE} -f docker/worker.Dockerfile .
      - run:
          name: Start docker compose for tests
          working_directory: backend
          command: |
            docker compose up -d
      - run:
          name: Install python deps in a venv
          working_directory: tests
          command: |
            python -m venv .env
            . .env/bin/activate
            python -m pip install -r requirements.txt
      - run:
          name: Run tests
          working_directory: tests
          no_output_timeout: 30m
          command: |
            . .env/bin/activate
            pytest --backend-test-host=http://localhost:8080
      - run:
          name: Get docker compose logs
          working_directory: backend
          when: always
          command: |
            docker compose logs
      - run:
          name: Stop docker compose
          working_directory: backend
          when: always
          command: |
            docker compose stop
      - store_artifacts:
          path: tests/report.html
      - store_test_results:
          path: tests/test-results
      - when: # run only on master or tag for deployment
          condition:
            or:
              - << pipeline.git.tag >>
              - equal: [ master, << pipeline.git.branch >> ]
          steps:
            - run:
                name: Redefine tag value for deployment
                environment:
                  GIT_BRANCH: << pipeline.git.branch >>
                  GIT_TAG: << pipeline.git.tag >>
                command: |
                  if [ -z "$GIT_TAG" ]; then
                    # master branch
                    echo "export TAG=0.11.${CIRCLE_SHA1}" >> $BASH_ENV
                  else
                    # tag branch, cut 'v' prefix (only v prefixed tags should trigger this job)
                    echo "export TAG=$(echo $GIT_TAG | cut -c 2-)" >> $BASH_ENV
                  fi
            - run:
                name: Tag and push docker images
                command: |
                  echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_LOGIN --password-stdin
                  ./deploy/tag.sh
      - when:
          condition:
            << pipeline.git.tag >>
          steps:
            - add_ssh_keys:
                fingerprints:
                  - "9d:d0:f6:fc:1e:69:d1:9a:25:8f:f8:9b:cb:9d:6f:18"
            - run:
                name: Deploy on remote server
                command: |
                  ./deploy/deploy.sh


workflows:
  build-test-deploy:
    jobs:
      - build-test-deploy:
          filters:
            branches:
              ignore: gh-pages
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
