version: 2.1

parameters:
  run-build-code:
    type: boolean
    default: false
  run-deploy:
    type: boolean
    default: false
  run-deploy-docs:
    type: boolean
    default: false
  run-tests:
    type: boolean
    default: false


jobs:
  build-test-deploy:
    machine:
      image: ubuntu-2004:2022.10.1
    steps:
      - checkout
      - run:
          name: Build server docker image
          command: |
            export SERVER_IMAGE=admwscki/keyboard-tools-server:circleci
            docker build -t ${SERVER_IMAGE} -f deploy/Dockerfile .
      - run:
          name: Build worker docker image
          command: |
            export WORKER_IMAGE=admwscki/keyboard-tools-kicad:circleci
            docker build -t ${WORKER_IMAGE} -f kicad-api/Dockerfile kicad-api
      - run:
          name: Install docker Compose
          environment:
            COMPOSE_VERSION: '1.29.2'
          command: |
            curl -L \
              "https://github.com/docker/compose/releases/download/${COMPOSE_VERSION}/docker-compose-$(uname -s)-$(uname -m)" \
              -o ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - run:
          name: Start docker compose for tests
          working_directory: tests
          command: |
            export TAG=circleci
            docker-compose -f docker-compose.yml -f ../kicad-api/docker-compose.yml -f docker-compose.override.yml up -d
      - restore_cache:
          key: test-deps-{{ .Branch }}-{{ checksum "tests/requirements.txt" }}
      - run:
          name: Install python deps in a venv
          working_directory: tests
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: test-deps-{{ .Branch }}-{{ checksum "tests/requirements.txt" }}
          paths:
            - "tests/venv"
      - run:
          name: Run tests
          working_directory: tests
          command: |
            . venv/bin/activate
            ./wait-for-selenium.sh pytest --junitxml=test-results/pytest/results.xml
      - run:
          name: Get docker compose logs
          working_directory: tests
          when: always
          command: |
            export TAG=circleci
            docker-compose -f docker-compose.yml -f ../kicad-api/docker-compose.yml -f docker-compose.override.yml logs
      - run:
          name: Stop docker compose
          working_directory: tests
          when: always
          command: |
            export TAG=circleci
            docker-compose -f docker-compose.yml -f ../kicad-api/docker-compose.yml -f docker-compose.override.yml stop
      - store_artifacts:
          path: tests/report.html
      - store_artifacts:
          path: tests/selenium.log
      - store_test_results:
          path: tests/test-results
      - when: # run only on master or tag when code or deployment scripts changed, do not run when only tests changed:
          condition:
            and:
              - or:
                - << pipeline.git.tag >>
                - equal: [ master, << pipeline.git.branch >> ]
              - or: [ << pipeline.parameters.run-build-code >>, << pipeline.parameters.run-deploy >> ]
          steps:
            - run:
                name: Export tag value
                environment:
                  GIT_BRANCH: << pipeline.git.branch >>
                  GIT_TAG: << pipeline.git.tag >>
                command: |
                  if [ -z "$GIT_TAG" ]; then
                    # master branch
                    echo "export TAG=0.7.${CIRCLE_SHA1}" >> $BASH_ENV
                  else
                    # tag branch, cut 'v' prefix (only v prefixed tags should trigger this job)
                    echo "export TAG=$(echo $GIT_TAG | cut -c 2-)" >> $BASH_ENV
                  fi
            - run:
                name: Tag and push docker images
                command: |
                  echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_LOGIN --password-stdin
                  ./deploy/tag.sh
      - when:
          condition:
            << pipeline.git.tag >>
          steps:
            - add_ssh_keys:
                fingerprints:
                  - "9d:d0:f6:fc:1e:69:d1:9a:25:8f:f8:9b:cb:9d:6f:18"
            - run:
                name: Deploy on remote server
                command: |
                  ./deploy/deploy.sh
  deploy-docs:
    docker:
      - image: cimg/node:19.7.0
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "2a:13:57:7d:9e:32:58:f3:19:ac:0c:f8:a7:34:4c:e6"
      - run:
          name: Build and deploy github pages
          working_directory: docs
          command: ./deploy.sh


workflows:
  build-test-deploy:
    when:
      or:
        - << pipeline.parameters.run-build-code >>
        - << pipeline.parameters.run-tests >>
        - << pipeline.parameters.run-deploy >>
    jobs:
      - build-test-deploy:
          filters:
            branches:
              ignore: gh-pages
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
  build-docs:
    when: << pipeline.parameters.run-deploy-docs >>
    jobs:
      - deploy-docs:
          filters:
            branches:
              only: master

