version: '3.7'

services:

  worker:
    image: admwscki/keyboard-tools-kicad:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A src.tasks.celery worker -l INFO --prefetch-multiplier 1
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
      - minio

  redis:
    image: redis:6-alpine
    ports:
      - 6379:6379

  minio:
    image: minio/minio:RELEASE.2023-01-25T00-19-54Z
    volumes:
      - minio_data:/data
    ports:
      - 9000:9000
    environment:
      MINIO_ACCESS_KEY: minio_dev
      MINIO_SECRET_KEY: minio_dev_secret
      PYTHONUNBUFFERED: 1
      S3_ACCESS_KEY: minio_dev
      S3_SECRET_KEY: minio_dev_secret
    command: server /data

volumes:
  minio_data:

