groups:
 - name: Asynq rules
   rules:
   - alert: AsynqWorkersNotProcessing
     expr: asynq_queue_size > 0 and rate(asynq_tasks_processed_total[5m]) == 0
     for: 3m
     labels:
       severity: critical
       context: asynq-worker
     annotations:
       summary: Asynq workers not processing tasks
       description: Queue {{ $labels.queue }} has {{ $value }} pending tasks but no tasks have been processed in the last 5 minutes.
   - alert: AsynqHighQueueSize
     expr: asynq_queue_size > 100
     for: 5m
     labels:
       severity: warning
       context: asynq-queue
     annotations:
       summary: High queue size detected
       description: Queue {{ $labels.queue }} has {{ $value }} pending tasks.
   - alert: AsynqTaskFailureRatioTooHigh
     expr: (rate(asynq_tasks_processed_total{status="failure"}[15m]) / rate(asynq_tasks_processed_total[15m])) * 100 > 1
     for: 5m
     labels:
       severity: critical
       context: asynq-task
     annotations:
       summary: Task failure ratio too high
       description: Queue {{ $labels.queue }} has a task failure ratio of {{ $value }}%.
